<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Company List</title>
</head>
<body>
<div layout:fragment="content">
    <h2>List</h2>
    <div><a th:href="'/company/add'">ADD Company</a></div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td th:text="${company.getId()}"/>
            <td>
                <a th:href="'/company/'+ ${company.getId()}" th:text="${company.getName()}"/>
            </td>
            <td>
                <img th:src="${company.getImage()}" width="100" height="100"/>
            </td>
            <td><a th:href="'/company/update/' + ${company.getId()}">UPDATE</a></td>
            <td><a th:href="'/company/delete/' + ${company.getId()}">DELETE</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>